/*清除所有样式*/
body,div,ul,li,input,p,span,a,img,dl,dt,dd{
    margin: 0;
    padding: 0;
    font-family: microsoft yahei;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
#lq{
    height: 900px;
}
#topbox{
    height: 321px;
    background-color: #F3F3F3;
}
#topbox .box1{
    width: 1200px;
    height: 321px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
#topbox .box1 ul{
    width: 6000px;
    height: 321px;
    position: absolute;
    left: 0;
    top: 0;

}
#topbox .box1 ul li{
    float: left;
    width: 1200px;
    /*display: none;*/
}
/*#topbox .box1 ul .show{*/
    /*display: block;*/
/*}*/
#topbox .box1 .box2{
    width: 401px;
    height: 250px;
    background-color: rgba(90,49,116,0.7);
    position: absolute;
    left: 681px;
    top: 70px;
}
#topbox .box1 .box2 .p-1{
    padding-top: 34px;
    font-size: 12px;
    height: 13px;
    color: #FFFFFF;
    text-align: center;
}
#topbox .box1 .box2 p a{
    color: #FFFFFF;
}
#topbox .box1 .box2 .p-2{
    padding-top: 12px;
    font-size: 28px;
    height: 28px;
    color: #FFFFFF;
    text-align: center;
    line-height: 28px;
}
#topbox .box1 .box2 span{
    display: inline-block;
    height: 18px;
    width: 341px;
    margin-left: 30px;
    border-bottom: 2px solid #8D73A0;
}
#topbox .box1 .box2 .content1{
    height: 143px;
    width: 341px;
    padding-top: 22px;
    margin-left: 30px;
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    line-height: 22px;
}
#topbox .box1 .box3{
    width: 401px;
    height: 7px;
    background-color: #FF9600;
    position: absolute;
    left: 681px;
    top: 320px;
}
#cenbox{
    width: 962px;
    height: 50px;
    margin: 0 auto;
    margin-top: 44px;
    border-bottom: 1px solid #E1E1E1;
    font-size: 20px;
    color: #5C307D;
}
#footbox{
    width: 962px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: pink;
}
#footbox .fbox1,.fbox2,.fbox3{
    width: 301px;
    height: 381px;
    background-color: #F6F6F6;
    float: left;
    margin-right: 20px;
}
#footbox .fbox3{
    margin-right: 0px;
}
#footbox .fbox1 p{
    margin-top: 30px;
    margin-left: 30px;
    height: 16px;
    line-height: 16px;
}
#footbox .fbox2 p{
    margin-top: 30px;
    margin-left: 30px;
    height: 16px;
    line-height: 16px;
}
#footbox .fbox3 p{
    margin-top: 30px;
    margin-left: 30px;
    height: 16px;
    line-height: 16px;
}
#footbox .fbox1 p a{
    color: #22132D;
    font-size: 16px;
}
#footbox .fbox2 p a{
    color: #22132D;
    font-size: 16px;
}
#footbox .fbox3 p a{
    color: #22132D;
    font-size: 16px;
}
#footbox .fbox1 .sbox1,.sbox2,.sbox3{
    width: 110px;
    height: 24px;
    border-bottom: 1px solid #E4E4E4;
    font-size: 12px;
    margin-top: 25px;
    margin-left: 30px;
    float: left;
}
#footbox .fbox2 .sbox1,.sbox2{
    width: 110px;
    height: 24px;
    border-bottom: 1px solid #E4E4E4;
    font-size: 12px;
    margin-top: 25px;
    margin-left: 30px;
    float: left;
}
#footbox .fbox3 .sbox1,.sbox2,.sbox3,.sbox4,.sbox5,.sbox6{
    width: 110px;
    height: 24px;
    border-bottom: 1px solid #E4E4E4;
    font-size: 12px;
    margin-top: 25px;
    margin-left: 30px;
    float: left;
}
#footbox .fbox1 .sbox3{
    margin-top: 13px;
}
#footbox .fbox3 .sbox3,.sbox4,.sbox5,.sbox6{
    margin-top: 13px;
}
#footbox .fbox1 a{
    color: #4F608C;
}
#footbox .fbox2 a{
    color: #4F608C;
}
#footbox .fbox3 a{
    color: #4F608C;
}